<h1>Create a new figure:</h1>
<form action="/figures" method="POST">
<h3>Name: <input type="text" name="figure[name]" id="Figure Name"></h3><br>
<h2>Titles</h2>

<% @titles.each do |title| %>
  <ul><input id="<%= title.name %>" type="checkbox" name="figure[name][]" value="<%= title.id %>"><%= title.name %></ul>
<% end %>
<h2>Create New Title:</h2>
<input type="text" name="figure[title]" id="Figure Title">
<h2>Landmarks</h2>

<% @landmarks.each do |landmark| %>
  <ul><input id="<%= landmark.name %>" type="checkbox" name="landmark[name][]" value="<%= landmark.id %>"><%= landmark.name %></ul>
<% end %>

<h2>Create New Landmark:</h2>
<input type="text" name="landmark[name]" id="Landmark Name">
<input type="text" name="landmark[year]" id="Landmark Year">
<input type="submit" value="Create New Figure">
</form>
